@font-face {
  font-family: "iconfont"; /* Project id 4670203 */
  src: url('iconfont.woff2?t=1725621727993') format('woff2'),
       url('iconfont.woff?t=1725621727993') format('woff'),
       url('iconfont.ttf?t=1725621727993') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jizhang:before {
  content: "\e64a";
}

.icon-zhangbenzhangdanjizhangzhangbu:before {
  content: "\e624";
}

.icon-qianbao1:before {
  content: "\e62c";
}

.icon-jia:before {
  content: "\e632";
}

.icon-xiala:before {
  content: "\e662";
}

.icon-xiala1:before {
  content: "\e634";
}

.icon-riqi:before {
  content: "\e646";
}

.icon-danzi:before {
  content: "\e73e";
}

.icon-jianshen:before {
  content: "\e678";
}

.icon-qiandai:before {
  content: "\e679";
}

.icon-weixiu:before {
  content: "\e67a";
}

.icon-shoubing:before {
  content: "\e67b";
}

.icon-tushu:before {
  content: "\e67c";
}

.icon-yifu:before {
  content: "\e67d";
}

.icon-dianying:before {
  content: "\e67e";
}

.icon-jiweijiu:before {
  content: "\e67f";
}

.icon-mianguan:before {
  content: "\e680";
}

.icon-tianpin:before {
  content: "\e681";
}

.icon-bangong:before {
  content: "\e683";
}

.icon-deshi:before {
  content: "\e684";
}

.icon-lunchuan:before {
  content: "\e685";
}

.icon-huiyi:before {
  content: "\e686";
}

.icon-feiji:before {
  content: "\e687";
}

.icon-xie:before {
  content: "\e688";
}

.icon-zhanku:before {
  content: "\e68a";
}

.icon-jinbi:before {
  content: "\e68d";
}

.icon-liwu:before {
  content: "\e68e";
}

